<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beini.generatormybatis.dao.YlUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.beini.generatormybatis.pojo.YlUserRole" >
    <id column="USER_ROLE_ID" property="userRoleId" jdbcType="INTEGER" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ROLE_ID, USER_CODE, ROLE_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yl_user_role
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yl_user_role
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beini.generatormybatis.pojo.YlUserRole" >
    insert into yl_user_role (USER_ROLE_ID, USER_CODE, ROLE_CODE
      )
    values (#{userRoleId,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beini.generatormybatis.pojo.YlUserRole" >
    insert into yl_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userRoleId != null" >
        USER_ROLE_ID,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="roleCode != null" >
        ROLE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userRoleId != null" >
        #{userRoleId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beini.generatormybatis.pojo.YlUserRole" >
    update yl_user_role
    <set >
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beini.generatormybatis.pojo.YlUserRole" >
    update yl_user_role
    set USER_CODE = #{userCode,jdbcType=VARCHAR},
      ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
    where USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER}
  </update>
</mapper>